<div>
  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th>andy</th>
        <th>adfs</th>
        <th>sfasd</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>sklfsd</td>
        <td>sdfsd</td>
        <td>sfw2</td>
      </tr>
      <tr>
        <td>sklfsd</td>
        <td>sdfsd</td>
        <td>sfw2</td>
      </tr>
      <tr>
        <td>sklfsd</td>
        <td>sdfsd</td>
        <td>sfw2</td>
      </tr>
    </tbody>

  </table>

</div>
